<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>
<body style="background-image: linear-gradient(to left, #ebf5e5, #8f9188 );">
   
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="display-5 mb-5"><stong>Students Edit Page</stong></h1>
        </div>
        <div class="main row justify-content-center">
            <form action="/tracker/<%=tracker._id%>?_method=PUT" method="POST">
                <div class="col-8 mb-4">
                    <lable for="Name">Name</lable>
                    <input class="form-control"type="text" value="<%=tracker.Name%>" placeholder="Enter Name">
                </div>
                <div class="col-8 mb-3">
                    <lable for="Fact">Interesting Fact</lable>
                    <input class="form-control" type="text" value="<%=tracker.Github%>"placeholder="Enter Interesting Fact ">
                </div>
                <div class="col-8">
                    <input class="btn btn-success add-btn" type="submit" value="Submit"></input>
                </div>
            </form>
          
        </div>
    </div>
    <div class="link-edit">
        <a href="/class_tracker/index">Go Back to Index</a>
    </div>
    
</body>
</html>