<!DOCTYPE html>
<html lang="en">
    <%- include(./partials/head.ejs) %>
<body>
    <%- include(./partials/header.ejs) %>
    <div class="edit-container">
    
        <h1>Users Edit Page </h1>

        <a href="/tracker">Go Back to Index</a>
    </div>
    <%- include(./partials/footer.ejs) %>
</body>
</html>