<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body class="new-page-container" id="newPage">
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="display-5 mb-5" id="newTitle">New Student Registration page</h1>
        </div>
        <div class="mainRow">
            <form action="/class_tracker/new" method="POST" class="newForm">
                <div class="col-8 mb-4">
                    <label for="Name">Name</label>
                    <input name="Name"class="form-control" type="text" placeholder="Enter Name">
                </div>
                <div class="col-8 mb-3">
                    <label for="Github">Github Repo</label>
                    <input name="Github"class="form-control" type="text" placeholder="Enter Github Repo ">
                </div>
                <div class="col-8 mb-3">
                    <label for="Fact">Interesting Fact</label>
                    <input name="Fact" class="form-control" type="text" placeholder="Enter Interesting Fact ">
                </div>
                <div class="col-8 mb-3">
                    <lable for="Animal">Favorite Animal</lable>
                    <input class="form-control" id="firstName" type="file" placeholder="Enter Favorite Animal ">
                </div>
                <div class="col-8">
                    <input class="btn btn-success add-btn" type="submit" value="Submit"></input>
                </div>
            </form>
            <div>
            <button class="bBtn"> <a href="/class_tracker/index" class="buttonText">Back to Index</a></button>
    </div>
        </div>
    </div>
</body>
</html>