<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

    <%- include('./partials/head.ejs') %>
    <title>New Page</title>
</head>
<body class="new-page-container">
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="display-5 mb-5"><stong>New Student Registration page</stong></h1>
        </div>
        <div class="main row justify-content-center">
            <!-- class="row justify-content-center mb-4" -->
            <form action="/class_tracker/new" method="POST">
                <div class="col-8 mb-4">
                    <label for="Name">Name</label>
                    <input name="Name"class="form-control" type="text" placeholder="Enter Name">
                </div>
                <div class="col-8 mb-3">
                    <label for="Github">Github Repo</label>
                    <input name="Github"class="form-control" type="text" placeholder="Enter Github Repo ">
                </div>

                <div class="col-8 mb-3">
                    <label for="Fact">Interesting Fact</label>
                    <input name="Fact" class="form-control" type="text" placeholder="Enter Interesting Fact ">
                </div>

                <!-- <div class="col-8 mb-3">
                    <lable for="Fact">Animal Name</lable>
                    <input class="form-control" type="text" placeholder="Enter Animal Name">
                </div> -->

                <div class="col-8 mb-3">
                    <lable for="Animal">Favorite Animal</lable>
                    <input class="form-control" id="firstName" type="file" placeholder="Enter Favorite Animal ">
                </div>
                <div class="col-8">
                    <input class="btn btn-success add-btn" type="submit" value="Submit"></input>
                </div>
               
             
            </form>
            <a class="btn" href="/class_tracker/index">Go Back to Index</a>
           
        </div>

    </div>
</body>
</html>