<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

    <%- include('./partials/head.ejs') %>
    <title>New Page</title>
</head>
<body style="background-image: linear-gradient(to left, #ebf5e5, #8f9188 );">
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="display-5 mb-5"><stong>New Student Registration page</stong></h1>
        </div>
        <div class="main row justify-content-center">
            <form action="" id="student-form" class="row justify-content-center mb-4" autocomplete="off">
                <div class="col-8 mb-4">
                    <lable for="Name">Name</lable>
                    <input class="form-control" id="firstName" type="text" placeholder="Enter Name">
                </div>
                <div class="col-8 mb-3">
                    <lable for="Github">Github Repo</lable>
                    <input class="form-control" id="firstName" type="text" placeholder="Enter Github Repo ">
                </div>
                <div class="col-8 mb-3">
                    <lable for="Fact">Interesting Fact</lable>
                    <input class="form-control" id="firstName" type="text" placeholder="Enter Interesting Fact ">
                </div>
                <div class="col-8 mb-3">
                    <lable for="Animal">Favorite Animal</lable>
                    <input class="form-control" id="firstName" type="text" placeholder="Enter Favorite Animal ">
                </div>
                <div class="col-8">
                    <input class="btn btn-success add-btn" type="submit" value="Submit"></input>
                </div>
               
                <a href="/class_tracker/index">Go Back to Index</a>

            </form>
          
        </div>

    </div>
</body>
</html>