<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>
<body>
    <div class="show-container">
        <h1>Users show Page</h1>
            <a href="/class_tracker/index">Go to Index page</a>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>