
<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>

    <div class="show-container">
        <h1>Users Information Show Page</h1>

        <nav>
            <a href="/tracker">Go to Index page</a>
        </nav>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>