@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

:root{
    --dark: gray;
    --light: white;
    --border: black;
    --border-btn: white;
}

.indexPage {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#anchor {
    text-decoration: none;
    font-family: 'Gloock', serif;
}

.container {
    max-width: 1024px;
    margin: auto;
}

.nav-brand {
    font-size: 1.5em;
    font-weight: bold;
}
#mainSite {
    font-size: 1.5em;
    font-weight: bold;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.border-shadow {
    border: 1px solid var(--border-btn);
    box-shadow: 1px 3px 10px #e9ecef;
}

.text-dark {
    color:var(--dark)
}

.inline {
    display: inline-block;
}

.text-light {
    color: var(--light);
}

.text-gradient {
    background: linear-gradient(to right, #8e2de2, #8e2de2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header {
    background-color: red;
    padding: 1em 0;
    width: 100%;
}

#site-main {
    margin-top: 6em;
    font-family: 'Gloock', serif;
}

#site-main .container .box-nav #anchor {
    font-size: 1em;
    padding: .5em 1em;
}

#site-main .container .forms {
    margin: 2em 0; 
}

.table {
    border-spacing: 0px;
    width: 100%;
}

.table td .table th {
    padding: 75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid var(--border);
}

.table .actions {
    padding: .3em 1em;
    font-size: 1.1em;
    margin: 0 .2em;
}

.table tr:hover {
    background-color: rgb(65, 208, 149);
}

.table tr:hover .actions {
    box-shadow: none;
}

.table .thead-dark th{
    color: white;
    background-color: var(--dark);
    border-color: gray;
}